.graphContainer {
  padding: 1rem 1.5rem;
  width: fit-content;
  width: 45%;
  min-width: 400px;
  min-height: 350px;
  background-color: var(--white);
  border-radius: 10px;

  & .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--highlight-black-500);
  }

  & .subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--highlight-black-700);
  }

}

.chart {
  position: relative;
  width: 100%;
  height: 220px;
}

.centerText {
  position: absolute;
  display: flex;
  top: 38%;
  left: 29%;
  min-width: 100px;
  font-size: 2rem;
  font-weight: bold;
  color: #1b0066;
  align-items: center;
  justify-content: center;
}