.statusContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--primary-offwhite-500);
}

.rightBoard {
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0;
    width: 20%;
    margin-right: 6.25%;
    margin-top: 2.5rem;
    min-width: 430px;
    border-radius: 10px;
    gap: 30px;
}

.appStatusRow {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.leftAppStatus {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.rightAppStatus {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.notificationContainer {
    display: flex;
    flex-direction: row;
}

.notificationIcon {
    width: 2rem;
    height: 2rem;
    color: var(--secundary-purple-500);
}

.settingsIcon{
    width: 2rem;
    height: 2rem;
    color: var(--secundary-purple-500);
}

.notificationDot {
    margin-left: -0.8rem;
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--highlight-yellow-500);
    border-radius: 50%;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    background-color: #fff;
}

.profileIcon {
    width: 2rem;
    height: 2rem;
    color: var(--secundary-purple-500);
}

.profileText {
    display: flex;
    flex-direction: column;
}

.profileName {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secundary-purple-500);
}

.profileStatus {
    font-size: 0.9rem;
    color: var(--highlight-black-500);
}

.profileStatusDot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--secundary-purple-500);
    border-radius: 50%;
    margin-left: 0.5rem;
}

.profileStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.streakContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #00000010;
    gap: 3rem;
}

.streakCounterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.streakIcon {
    width: 7rem;
    height: 7rem;
    color: var(--highlight-yellow-500);
}

.hole {
    position: relative;
    margin-top: -3.9rem;
    width: 3rem;
    height: 3.5rem;
    background-color: var(--highlight-yellow-500);
    z-index: 2;
}

.streakCounter {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secundary-purple-500);
    margin-top: -55%;
    z-index: 3;
}

.streakTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
} 

.streakTitle {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--highlight-black-500);
}

.streakSubtitle {
    font-size: 1rem;
    color: var(--highlight-black-500);
}

.averageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dailyAverage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #00000010;

    & .title{
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--highlight-black-500);
    }

    & .counter{
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--highlight-black-800);
    }
}

.sessionAverage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #00000010;

    & .sessionAverageContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 75%;
        flex-wrap: wrap;
    }

    & .title{
        min-width: 80%;
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--highlight-black-500);
    }

    & .counter{
        width: 22%;
        font-size: 1.7rem;
        font-weight: 400;
        color: var(--highlight-black-800);
    }

    & .counterText{
        width: 65%;
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--highlight-black-800);
    }
}